.movieDetailsContainer {
  display: flex;
  padding: auto;
  text-align: left;
}
@media screen and (max-width: 700px) {
  .movieDetailsContainer {
    display: flex;
    flex-direction: column;
  }
}
.subInfo {
  display: flex;
}
.pipeSeperator {
  margin: 0px 0.5rem 0px 0.5rem;
}
